<app-calender-navigation></app-calender-navigation>
<div class="container-fluid">
  <div class="row">
     <table class="calTable table">
          <tr *ngFor="let events of keyArray;let i=index" >
            <table class="table">
              <tr class="grey-td">
                  <th class="events">
                      {{events}}
                   </th>
                   <ng-container *ngIf="i<1">
                      <td *ngFor="let data of valueArray[i];let j=index" id="c{{i}}_r{{j}}" >
                          {{data}}
                        </td>
                   </ng-container>
                   
                   <ng-container *ngIf="i>0">
                      <td *ngFor="let data of valueArray[i];let j=index" (click)="showDetails($event, ['c'+i+'_toogle'])"  id="c{{i}}_r{{j}}" >
                          {{data}}
                        </td>
                   </ng-container>
                   
              </tr>
              <tr id="c{{i}}_toogle" class="loader_div" style="display:none">
              <td colspan="30">
                    <circle-progress
                    [percent]="circleGraphData"
                  ></circle-progress> 
                </td>
              </tr>
            </table>
          </tr>
        </table>
  </div>
</div>


<!-- 
 <div *ngIf="barChartFlag">
<angular-d3-bar #someInput [id]="test2" class="chartDiv" [data]="barChartData" [dataColumns]="dataColumns" [colors]="colors"  [width]=400
    [height]=200 [transitionDuration]=1000 [transitionDelay]=30 [barWidth]=""12px""></angular-d3-bar>
</div>
 -->
